name: Continuous Integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Prepare Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'sbt'

      - name: Install SBT
        uses: sbt/setup-sbt@v1
        with:
          sbt-runner-version: 1.11.7

      - name: Run tests
        run: sbt test

      - name: Generate test report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Scala test report
          path: '**/target/test-reports/*.xml'
          reporter: junit