name: Continuous Integration

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - '.github/**'
      - '**.yaml'
      - '**.yml'
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Prepare Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'sbt'

      - name: Install SBT
        uses: sbt/setup-sbt@v1
        with:
          sbt-runner-version: 1.11.7

      - name: Compile project
        run: sbt compile

      - name: Run tests
        run: sbt test
